<!-- Desktop Nav -->
<div class="flex flex-row container">
  <a routerLink="/home" class="title-link">
    <img
      src="assets/logos/title.svg"
      alt="The Marlborough Playhouse Logo"
      class="h-[150px] w-auto"
    />
  </a>
  <ul class="flex flex-row items-center justify-content-between list-none">
    <li class="mr-4 links">
      <a routerLink="/home">
        <span class="rainbow-text nav-image">HOME</span>
        <!-- <img
          src="assets/logos/home-title.svg"
          alt="Home"
          class="h-[50px] w-auto hover:rotate-10 transform transition duration-300"
      /> -->
      </a>
    </li>
    <li class="mr-4 links">
      <a routerLink="/booking">
        <span class="rainbow-text nav-image">BOOKING</span>
        <!-- <img
          src="assets/logos/booking-title.svg"
          alt="Booking"
          class="nav-image"
      /> -->
      </a>
    </li>
    <li class="mr-4 links">
      <a routerLink="/private-hire">
        <span class="rainbow-text nav-image">PRIVATE HIRE</span>
        <!-- <img
          src="assets/logos/private-hire-title.svg"
          alt="Private Hire"
          class="h-[50px] w-auto hover:rotate-10 transform transition duration-300"
      /> -->
      </a>
    </li>
  </ul>
</div>

<!-- Mobile Nav -->
