<div class="flex flex-col items-center justify-center align-center h-screen">
  <div>
    <img
      src="assets/logos/playhouse-logo.png"
      alt="The Marlborough Playhouse Logo"
      class="logo max-w-xs w-full h-auto block mx-auto bounce-in-top"
    />
  </div>
  <div class="text-center mt-4">
    <p class="swing-in-top-fwd-1">
      We’re working super hard to have The Marlborough Playhouse ready to open
      our doors Spring 2026.
    </p>
    <p class="swing-in-top-fwd-2">
      To stay up to date and be the first to know when sessions are available to
      book for your little ones to come and play, while you enjoy a coffee.
    </p>
  </div>
  <div class="ml-embedded wobble-hor-bottom" data-form="oOhXrj"></div>
  <div class="text-center mt-4">
    <p>Follow us on Instagram</p>
    <a
      href="https://www.instagram.com/themarlboroughplayhouse/"
      target="_blank"
    >
      <i class="fa-brands fa-instagram heartbeat"></i>
      <span class="ml-2"> themarlboroughplayhouse </span>
    </a>
  </div>
</div>
